{%load static%} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- ---CSS--- -->
     <link rel="stylesheet" href="{%static 'assets/CSS/styles.css'%}">
     <title>Little Dreams</title>

     <!-- ---FLATICONS--- -->
     <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
     <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
     <title>Little Dreams</title>

     
</head>
<body>
     <main>
        <!-- ===== HEADER ====  -->
        <header class="header">
        <div class="header__top">
            <div class="header__container container">
                <div class="header__contact">
                    <span>(+48) - 1234 -5678</span>

                    <span>Our Location</span>
                </div>
                <p class="header__alert-news">Rare Collection Models</p>
                <div class="account__panel">
                    <img src="{% static 'assets/img/user.png' %}" alt="User_logo" width="20" class="account" height="20" style="margin-right: 8px; position: relative; top: 2px;">
                    <span>Account</span>
                    <ul class="account__dropdown">
                        <li><a href="page-account.html" class="nav__link"><i class="fi fi-rr-user"> My Account </i></a></li>
                        <li><a href="page-account.html" class="nav__link"><i class=
                            "fi fi-rs-truck-check"
                            > Order Tracking </i></a></li>
                        <li><a href="page-account.html" class="nav__link"><i class="fi fi-rs-settings"> Setting</i></a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{%url 'userauths:sign-out'%}" class="nav__link"><i class=
                            "fi fi-rr-exit"> Sign out</i></a></li>
                        
                        {%else%}
                        <li><a href="{%url 'userauths:sign-in'%}" class="nav__link"><i class=
                            "fi fi-rr-exit"> Sign In</i></a></li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </div>

        <nav class="nav container">
            <a href="{%url 'core:index'%}"  class="nav__logo">
                <img src="{% static 'assets/img/logo.png' %}" alt="" class="nav__logo-img">
            </a>

            <div class="nav__menu" id="nav-menu"> 
                <ul class="nav__list">
                       <li class="nav__item language">
                        <span class="nav__link">Language</span>
                        <ul class="language-menu">
                            <li><a href="{%url 'core:index'%}" class="nav__link">English</a></li>
                            <li><a href="russian.html" class="nav__link">Russian</a></li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="{%url 'core:index'%}" class="nav__link active-link">Home</a>
                    </li>

                    <li class="nav__item">
                        <a href="shop.html" class="nav__link">Shop</a>
                    </li>

                    <li class="nav__item">
                        <a href="accounts.html" class="nav__link">My Account</a>
                    </li>
                 
                </ul>

                <div class="header__search">
                    <input type="text" placeholder="Search for items..." class="form__input">
                    
                    <button class="search__btn">
                        <img src="{% static 'assets/img/search.png' %}" alt="">
                    </button>
                </div>
            </div>

            <div class="header__user-actions">
                <a href="wishlist.html" class="header__action-btn_Wishlist">
                    <img src="{% static 'assets/img/wishlist.png' %}" alt="Wishlist">
                    <span class="count">3</span>
                </a>

                <a href="cart.html" class="header__action-btn_Cart" id="cartImage">
                    <img src="{% static 'assets/img/cart.png' %}" alt="Cart">
                    <span class="count">3</span>
                </a>
            </div>
        </nav>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <script>
            setTimeout (() => {
                $(".alert").alert('close');
            }, 3000)
        </script>
        </header>
          <!-- ===== BREADCRUMB ====  -->
          <section class="breadcrumb">
            <ul class="breadcrumb__list flex container">
                <li><a href="{%url 'core:index'%}" class="breadcrumb__link">Home</a></li>
                <li><span class="breadcrumb__link">></span></li>
                <li><span class="breadcrumb__link">Sign In</span></li>
             </ul>
         </section>
         <!-- ===== LOGIN ====  -->
         <div class="login-container">
            <div class="login-left">
                <h2>Welcome Back</h2>
                <p>Welcome back, Please enter your details</p>
                <form method="post" method="POST">
                    {% csrf_token %}
                    <label for="email">Email</label>
                    <input type="text" required="" name="email" placeholder="Please enter your Email *" />
                    
                    <label for="password">Password</label>
                    <input required="" type="password" name="password" placeholder="Enter your password *" />
                    
                    <div class="remember-forgot">
            
                        <a href="#">Forgot password?</a>
                    </div>
                    
                    <button type="submit" class="btn-primary" name="login">Sign in</button>
                    <button type="button" class="btn-secondary">
                    <img src="{% static 'assets/img/google_logo.png' %}" alt="" style="width: 30px;" id="googleLoginButton"> Sign in with Google
                    </button>
                </form>
                <p class="register">Don't have an account? <a href="{%url 'userauths:sign-up'%}" class="sign-up">Sign up</a></p>
            </div>
            <div class="login-right">
                <img src="{% static 'assets/img/logo.png' %}" alt="Logo" class="logo">
            </div>
        </div>
  <!-- ===== NEWSLETTERS ====  -->
  <section class="newsletter section home__newsletter">
    <div class="newsletter__container container grid">
        <h3 class="newsletter__title flex">
            <img src="{% static 'assets/img/email.png' %}" alt="" class="newsletter__icon">
            Sign Up For Newsletter
        </h3>
        <p class="newsletter__description">...and receive $20 coupon for first shopping.</p>
        <form action="https://formsubmit.co/mariamrusishvili2004@gmail.com" method="POST" class="newsletter__form"><input type="email" name="email" placeholder="Enter your Email" class="newsletter__input">
        <button type="submit" class="newsletter__btn">Subscribe</button></form>
    </div>
 </section>
</main>

<!-- ===== FOOTER ====  -->
<footer class="footer container">
<div class="footer__container grind">
    <div class="footer__content">
        <a href="{%url 'core:index'%}" class="footer__logo">
            <img src="{% static 'assets/img/logo.png' %}" alt="" class="footer__logo-img">
        </a>
        <h4 class="footer__subtitle-contact">Contact</h4>

        <p class="footer__description"><Address><span>Address:</span> Wiejenska 16a, Lomza, Poland</Address></p>
        <p class="footer__description"><span>Phone:</span> +48 123 123 123</p>

        <div class="footer__social">
            <h4 class="footer__subtitle">Follow Me</h4>
            <div class="footer__social-links flex">
                <a href=""><img src="{% static 'assets/img/facebook.png' %}" alt="" class="footer__social-icon"></a>
                <a href=""><img src="{% static 'assets/img/instagram.png' %}" alt="" class="footer__social-icon"></a>
                <a href=""><img src="{% static 'assets/img/youtube.png' %}" alt="" class="footer__social-icon"></a>
                
            </div>
        </div>
        
    </div>

    <div class="footer__content">
        <h3 class="footer__title">Address</h3>
        <ul class="footer__links">
            <li><a href="" class="footer__link">About Us</a></li>
            <li><a href="" class="footer__link">Delivery Information</a></li>
            <li><a href="" class="footer__link">Privacy Policy</a></li>
            <li><a href="" class="footer__link">Terms & Conditions</a></li>
            <li><a href="" class="footer__link">Contact Us</a></li>
        </ul>
    </div>
    <div class="footer__content">
        <h3 class="footer__title">My Accout</h3>
        <ul class="footer__links">
            <li><a href="" class="footer__link">Sign In</a></li>
            <li><a href="" class="footer__link">View Cart</a></li>
            <li><a href="" class="footer__link">My Wishlist</a></li>
            <li><a href="" class="footer__link">Track My Order</a></li>
            <li><a href="" class="footer__link">Help</a></li>
        </ul>
    </div>
    <div class="footer__content">
        <h3 class="footer__title">Secured Payment Gateways</h3>
        <img src="{% static 'assets/img/payment_method.png' %}" alt="" class="payment__img">
    </div>
</div>

<div class="footer__bottom">
    <p class="copyright">&copy; 2024 Little Dreams. All Rights Reserved</p>
    <span class="designer">Designed By Mariam Rusishvili</span>
</div>
</footer>
 <!-- ---JQUERY--- -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="{% static 'assets/JS/main.js' %}"></script>

</body>
</html>
